{% extends "base.html" %}
{% block content %} 
<!-- story_detail.html content starts here -->
<div class="container">
    <div class="story-top">
        <div class="story-image-container"><img class="story-image" src="{{ doggo.profile_image.url }}"></div>
    <div class="title-text"><h1 class="text-uppercase title-text">{{ doggo.name. }}</h1>
        <p>Added on {{ doggo.added_on}}</p>
    </a></div></div>
    <br>
   <div class="story-main"> <p>{{ doggo.about | safe }}</p>
    
</div>
 
 


<!-- index.html content ends here -->
{% endblock %}
