{% extends "base.html" %}
{% block content %} 
{% load static %}
<!-- story_detail.html content starts here -->
<div class="container">
    <div class="story-top">
        <div class="story-image-container">
            {% if "placeholder" in doggo.profile_image.url %}
            <img src="{% static 'images/default_doggo2.png' %}" class="doggo-image" alt="{{ doggo.name. }}">
            {% else %}
            <img src="{{ doggo.profile_image.url }}" class="doggo-image" alt="{{ doggo.name }}">
            {% endif %}
        </div>
    <div class="title-text"><h1 class="text-uppercase title-text">{{ doggo.name. }}</h1>
        <p>Added on {{ doggo.added_on}}</p>
    </a></div></div>
    <br>
   <div class="story-main"> <p>{{ doggo.about | safe }}</p>
    
</div>
 
 


<!-- index.html content ends here -->
{% endblock %}
