{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- home.html content starts here -->
<!-- Display "Pinned" Stories most recent first -->
<div class="home-container">
    <div class="story-container">
        {% for story in story_list_pinned %}
        <div class="row">
            <div class="col-12 mt-3 flex-row">
                <div class="story-image-container">
                    {% if "placeholder" in story.featured_image.url %}
                    <a><img src="{% static 'images/default_doggo.png' %}" class="story-image" alt="{{ story.title }}" href="{% url 'story_detail' pk=story.pk %}"></a>
                    {% else %}
                    <a><img src="{{ story.featured_image.url }}" class="story-image" alt="{{ story.title }}" href="{% url 'story_detail' pk=story.pk %}"></a>
                    {% endif %}
                </div>
                <div class="story-text-container justify-content-center">
                    <div class="column">
                        <div>
                        <a href="{% url 'story_detail' pk=story.pk %}">
                        <div class="title-text">
                        <h1 class="text-uppercase title-text">{{ story.title }}</h1></div>
                        </a>
                        </div>
                        <div class="story-main">
                        <p class="excerpt">{{ story.excerpt | truncatechars:150}}</p>
                        <p class="small">{{ story.created_on}} by {{ story.author }}</p>
                        <p class="small">Pinned Story</p>
                        </div>
                    </div>
                </div>
            </div>
        <br>
        </div>
        {% endfor %}
<!-- Display "Published" Stories most recent first -->
        {% for story in story_list_published %}
        <div class="row">
            <div class="col-12 mt-3 flex-row">
                <div class="story-image-container">
                    {% if "placeholder" in story.featured_image.url %}
                    <img src="{% static 'images/default_doggo.png' %}" class="story-image" alt="{{ story.title }}" href="{% url 'story_detail' pk=story.pk %}">
                    {% else %}
                    <img src="{{ story.featured_image.url }}" class="story-image" alt="{{ story.title }}" href="{% url 'story_detail' pk=story.pk %}">
                    {% endif %}
                </div>
                <div class="story-text-container justify-content-center">
                    <div class="column">
                        <div>
                        <a href="{% url 'story_detail' pk=story.pk %}">
                        <div class="title-text">
                        <h1 class="text-uppercase title-text">{{ story.title }}</h1></div>
                        </a>
                        </div>
                        <div class="story-main">
                        <p class="excerpt small">{{ story.excerpt | truncatechars:150}}</p>
                        <p class="created-on small">{{ story.created_on}} by {{ story.author }}</p>
                        </div>
                    </div>
                </div>
            </div>
        <br>
        </div>
        {% endfor %}
    </div>
<!-- Display Dog Profiles most recent first -->
    <div class="doggo-container">
    {% for doggo in doggo_list %}
    <div class="row">
        <div class="col-12 mt-3">
            <a href="{% url 'doggo_detail' pk=doggo.pk %}">
            <div class="home-profile-image-container">
            {% if "placeholder" in doggo.profile_image.url %}
            <a href="{% url 'doggo_detail' pk=doggo.pk %}"><img src="{% static 'images/default_doggo2.png' %}" class="home-profile-image" alt="{{ doggo.name }}" ></a>
            {% else %}
            <a href="{% url 'doggo_detail' pk=doggo.pk %}"><img src="{{ doggo.profile_image.url }}" class="home-profile-image" alt="{{ doggo.name }}" ></a>
            {% endif %}
            </div>
        <h1 class="name-text">{{ doggo.name }}</h1>
        <p> Breed: {{ doggo.breed}}</p>
        <p> Age: {{ doggo.age }}</p>
        </a>
        <hr>
        <div class="doggo-main">
        <p> About: {{ doggo.notes}}</p>
        </div>
        <p class ="small"> Added on: {{ doggo.added_on}}</p>
        </div>
    </div>
        {% endfor %}
    </div>
</div>
<!-- home.html content ends here -->
{% endblock %}