/* Import Fonts*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,500;1,700&display=swap');

/* clear defaults*/
* {
    box-sizing: border-box;
    border: 0;
    padding: 0;
    margin: 0;
}
*:focus {
    color: black;
}
/*generic styles*/

body{
    min-height: 100vh;
    background-color: #f5f5f5;
    background: rgb(253,221,172);
    background: linear-gradient(270deg, rgb(250, 249, 248) 0%, rgb(248, 235, 215) 50%, rgb(250, 249, 248) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-bottom: 50px;
}


a {
    text-decoration: none;
    color: black;
}
hr{
    color: #4A4A4F;
    width: 90%
}
h4{
    font-family: "Open Sans", Roboto, sans-serif;
    text-transform: capitalize;
}

/*Layout Styles*/
.home-container{
    display: flex;
    flex-direction: column;
}

.full-row-container{
    display:flex;
    flex-direction: row;
    padding: 10px;
    width: 96%;
    box-shadow:  0 1px 1px #4A4A4F;
    margin: auto;
    border-radius: 10px;
    background: linear-gradient(144deg, rgb(248, 235, 215) 0%, rgb(250, 249, 248) 100%);
}

.row{
    padding: 5px;
    width: 100%;
    box-shadow:  0 1px 1px #4A4A4F;
    margin: 5px;
    border-radius: 10px;
    background: linear-gradient(144deg, rgb(248, 235, 215) 0%, rgb(250, 249, 248) 100%);
}
#navbar-nav{
    text-align: right;
    background: linear-gradient(144deg, rgb(248, 235, 215) 0%, rgb(250, 249, 248) 100%);
    text-transform: uppercase;
}
#navbar-text{
    text-align: end;
    text-transform: uppercase;
    background: linear-gradient(144deg, rgb(248, 235, 215) 0%, rgb(250, 249, 248) 100%);
}
.dropdown-menu{

    margin-top: 5px;
    width: fit-content;
    border: 0;
    padding-inline:  20px;
    background: rgb(248, 235, 215)
}

.staff-links{
    width: fit-content;
    border-radius: 10px;
    Margin: auto;
    margin-top: 5px;
    background: linear-gradient(270deg, rgb(248, 235, 215) 0%, rgb(250, 249, 248) 100%);
}


.column{
    width: 100%
}

/*Header Styles*/
header{
    background: linear-gradient(270deg, rgb(250, 249, 248) 0%, rgb(248, 235, 215) 50%, rgb(250, 249, 248) 100%);
}
.brand-text{
    font-family: "Open Sans", Roboto, sans-serif;
    background-color: lightblue;
    font-size: 1.6rem;
    font-weight: 600;
    color: #4A4A4F;

}
/* Home Page Styles*/

.sub-title {
    font-family: "Open Sans", Roboto, sans-serif;
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 500;
    color: #4A4A4F;
}
/*Story Styles*/

.add-story-link{
    margin: auto;
    width: fit-content;
}
.story-text-container{
    width: 100%;
}
.story-title-container{
    flex-direction: column;
    text-align: center;
    font-family: "Open Sans", Roboto, sans-serif;
    font-size: medium;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}
.story-link-container{
    font-family: "Open Sans", Roboto, sans-serif;
    margin: auto;
    cursor: pointer;
    border-radius: 15px;
    background: linear-gradient(144deg, rgb(248, 235, 215) 0%, rgb(250, 249, 248) 100%);
}
.story-title{
    font-family: "Open Sans", Roboto, sans-serif;
    font-size: large;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}
.story-top{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 5px;
    text-align: center;
    

}
.story-image{
    max-width: 100px;
    height: auto;
    border-radius: 10%;
    margin:5px;
    box-shadow:  0 2px 2px #4A4A4F;

}
.large-story-image{
    max-width: 300px;
    height: auto;
    border-radius: 10%;
    margin:5px;
    box-shadow:  0 2px 2px #4A4A4F;

}
.story-main{
    width: 100%;
    justify-content: left;
    font-family: Roboto;
    text-align: left;
    padding-left: 10px;
}


/*Profile Styles*/

.name-text{
    font-family: "Open Sans", Roboto, sans-serif;
    font-size: medium;
    margin: auto;
    padding-top: 10px;
    
}

.profile-image{
    max-width: 200px;
    height: auto;
}
    
.doggo-image{
    max-width: 100px;
    height: auto;
    border-radius: 10%;
    margin:5px;
    box-shadow:  0 2px 2px #4A4A4F;
}
.doggo-main{
    width: 100%;
    font-family: Roboto;
    text-align: left;
    padding: 0;
    padding-left: 10px;
}
.dog-text-container{
    width: 100%;
    display: flex;
    flex-direction: column;
}

/*Footer Styles*/

.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 0;
    margin-inline: auto;
    margin-bottom: 6px;
    font-size: medium;
}
.footer-text{
    margin: 0;
    padding: 0;
}
.socials-container {
    margin: auto;
    display: inline-flex;
    flex-direction: row;
}
/* Auth Form Styles*/

.btn-signup,
.btn-edit {
    background-color: #3d9cb3;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #3d9cb3;
}
.btn-delete {
    color: #fff;
    background: #E84610;
}

.faded {
    color: rgb(172, 175, 175);
}

.approval {
    color: rgb(222, 146, 168);
}
/* Other Form Styles*/

.create-form{
    padding-bottom: 50px;
}

.staff-links{
    display: flex;
    flex-direction: row;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
/*Media Queries*/

@media (min-width: 480px) {
    .home-container{
        height: 100%;
        padding: 10px;
        display: flex;
        flex-direction: row;
    }
    .story-container{
        width: 70%;
        height: 120px;
        padding: 10px;
    }
    
    .doggo-container{
        width: 30%;
        height: 120px;
        padding: 10px;
    }
}