/* Import Fonts*/

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,500;1,700&display=swap");

/* clear defaults*/
* {
  box-sizing: border-box;
  border: 0;
  padding: 0;
  margin: 0;
}
*:focus {
  color: black;
}
/* Set Variables for JavaScript*/
:root {
  --current-text: #101010;
  --current-background-gradient: linear-gradient(90deg, #d9e7ff 0%, #e3ffe7 50%, #d9e7ff 100%);
  --current-div-gradient: linear-gradient(90deg,rgb(230, 230, 235) 0%,rgb(250, 250, 245) 100%);
}

/*generic styles*/

body {
  min-height: 100vh;
  background: rgb(89, 89, 90) 0%;
  background: var(--current-background-gradient);
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-bottom: 65px;
}

a {
  text-decoration: none;
  color: var(--current-text);
  cursor: pointer;
}
hr {
  color: #4a4a4f;
  width: 90%;
}
h1 {
  font-size: 100%;
}
h1,
h2,
h3,
h4 {
  font-family: "Open Sans", Roboto, sans-serif;
  text-transform: capitalize;
  color: var(--current-text);
}
hr {
  color: var(--current-text);
  width: 50%;
  margin: 0 auto;
}
p {
  margin: 2px;
  color: var(--current-text);
}

/*Layout Styles*/
main {
  width: 100%;
}
.home-container {
  display: flex;
  flex-direction: column;
}

.full-row-container {
  display: flex;
  flex-direction: row;
  padding: 10px;
  width: 96%;
  box-shadow: 0 1px 1px #4a4a4f;
  margin: auto;
  border-radius: 10px;
  background: var(--current-div-gradient);
}

.row {
  padding: 5px;
  width: 100%;
  box-shadow: 0 1px 1px #4a4a4f;
  margin: 5px;
  border-radius: 10px;
  background: var(--current-div-gradient);
}
.list-container {
  padding: 5px;
  width: 96%;
  margin: auto;
}
/*Header Styles*/

header {
  background: var(--current-background-gradient);
  margin-inline: 5px;
  margin-top: 5px;
}
.brand-text {
  font-family: "Open Sans", Roboto, sans-serif;
  background-color: var(--current-div-gradient);
  font-size: 2.0rem;
  font-weight: 600;
  color: var(--current-text);
}

.navbar{

  width: 96%;
}
#navbar-nav {
  text-align: right;
  text-transform: uppercase;
}

.mode-switch-container{
  display:flex;
  justify-content: flex-start;
  width: 50px;
  color: var(--current-text);
  background-color: transparent;
  cursor: pointer;
  margin: auto;
  margin-left: 20px;
}
.mode-switch{

  color: var(--current-text);
  background-color: transparent;
  align-self: flex-start;

}
#navbar-text {
  text-align: end;
  text-transform: capitalize;
  color: var(--current-text);
  
}
.toggler-icon{
  color: var(--current-text) !important;
}
.nav-link{
  color: var(--current-text);
  text-transform: capitalize;
  font-size: large;
}
.active {
  --bs-navbar-active-color: var(--current-text);
  text-transform:uppercase;
}
.dropdown-menu {
  margin-top: 5px;
  width: fit-content;
  border: 0;
  padding-inline: 20px;
  color: var(--current-text);
  background: var(--current-div-gradient);
}

.staff-links {
  width: fit-content;
  border-radius: 8px;
  margin: auto;
  margin-top: 5px;
  background: var(--current-div-gradient);
  color: var(--current-text);
}

.column {
  width: 100%;
}


/* Home Page Styles*/

.home-container {
  height: 100vh;
  width: 96%;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.sub-title {
  font-family: "Open Sans", Roboto, sans-serif;
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 500;
  color: var(--current-text);

}
.home-profile-image-container {
  transform: rotate(2deg);
  width: fit-content;
  margin: 0 auto;
  border: 5px white solid;
  box-shadow: 0 1px 1px #4a4a4f;
}
.home-profile-image {
  margin: auto;
  max-width: 100%;
  height: auto;
}

/*Story Styles*/

.story-full-row-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 96%;
  box-shadow: 0 1px 1px #4a4a4f;
  margin: auto;
  border-radius: 10px;
  background: var(--current-div-gradient);
  color: var(--current-text);
}
.add-story-link {
  margin: auto;
  width: fit-content;
}
.story-text-container {
  width: 100%;
}
.story-title-container {
  flex-direction: column;
  text-align: center;
  font-family: "Open Sans", Roboto, sans-serif;
  font-size: large;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}
.story-link-container {
  font-family: "Open Sans", Roboto, sans-serif;
  width: fit-content;
  padding-inline: 5px;
  margin: auto;
  cursor: pointer;
  border-radius: 15px;
  background: var(--current-div-gradient);
}
.title-text {
  font-family: "Open Sans", Roboto, sans-serif;
  text-align: center;
  font-size: larger;
  margin: auto;
  color: var(--current-text);
  padding-top: 10px;
  padding-bottom: 10px;
}
.story-title {
  font-family: "Open Sans", Roboto, sans-serif;
  text-align: center;
  font-size: larger;
  margin: auto;
  color: var(--current-text);
  padding-top: 10px;
  padding-bottom: 10px;
}
.story-top {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 5px;
  text-align: center;
}

.story-image {
  width: 100px;
  height: auto;
  border-radius: 10%;
  margin: auto;
  box-shadow: 0 2px 2px #4a4a4f;
}
.large-story-image {
  max-width: 300px;
  height: auto;
  border-radius: 10%;
  margin: 5px;
  box-shadow: 0 2px 2px #4a4a4f;
}
.story-main {
  width: 100%;
  justify-content: left;
  font-family: Roboto;
  text-align: left;
  padding-left: 10px;
}

/*Dog Profile Styles*/

.add-doggo-link {
  margin: 0 auto;
  width: fit-content;
}

.name-text {
  font-family: "Open Sans", Roboto, sans-serif;
  font-size: larger;
  margin: auto;
  padding-top: 20px;
}

.profile-image-container {
  width: fit-content;
  margin: 0 auto;
}
.profile-image {
  max-width: 200px;
  height: auto;
}

.doggo-image {
  width: 100px;
  height: auto;
  border-radius: 10%;
  margin: 5px;
  box-shadow: 0 2px 2px #4a4a4f;
}
.large-doggo-image {
  max-width: 300px;
  height: auto;
  border-radius: 10%;
  margin: 5px;
  box-shadow: 0 2px 2px #4a4a4f;
}
.doggo-main {
  width: 100%;
  font-family: Roboto;
  text-align: left;
  padding: 0;
  padding-left: 10px;
}
.dog-text-container {
  font-weight: 700;
  font-size: large;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.vet-info {
  border: 1px solid black;
  background: #fafafa;
  padding: 2px;
  padding-bottom: -5px;
}

/*Footer Styles*/

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 0;
  margin: auto;
  background: var(--current-background-gradient);
  font-size: medium;

}
.footer-text {
  margin: 0;
  padding: 0;
  color: var(--current-text);
}
.socials-container {
  margin: auto;
  display: inline-flex;
  flex-direction: row;
}
.social-icon{
  font-size: 3em;
  margin: 10px;
  padding: 5px;
}
/*Form Styles*/

.contact-form-container {
  background: var(--current-div-gradient);
  margin: auto;
  width: fit-content;
  max-width: 300px;
  box-shadow: 0 1px 1px #4a4a4f;

  border-radius: 10px;
}
.form-container {
  background: var(--current-div-gradient);
  margin: auto;
  box-shadow: 0 1px 1px #4a4a4f;
  border-radius: 10px;
}

.btn-signup,
.btn-edit {
  background-color: darkgreen;
  color: #fafafa;
  margin-top: 5px;
  padding-bottom: 8px;
}

.btn-signup:hover,
.btn-signup:active {
  background-color: lightgreen;
  color: #fafafa;
}
.btn-delete {
  color: #fff;
  background: #852302;
}

.faded {
  color: rgb(172, 175, 175);
}

.approval {
  color: rgb(222, 146, 168);
}
/* Other Form Styles*/

.create-form {
  padding-bottom: 50px;
}

.staff-links {
  display: flex;
  flex-direction: row;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: var(--current-text);
}

/*Message Styles*/
.message{
    text-align: center;
    background: var(--current-div-gradient);
      width:50%;
      border-radius: 50px;
      margin: auto;
      color: var(--current-text);
}
/*Contact Styles*/

.contact-container{

  display: flex;
  flex-direction: column;
  padding: 10px;
  width: fit-content;
  box-shadow: 0 1px 1px #4a4a4f;
  margin: auto;
  border-radius: 10px;
  background: var(--current-div-gradient);
}

.contact-title-container{
  text-align: center;
  text-transform: capitalize;
}

.middle-container{
  display: flex;
  flex-direction: column;
  margin: auto;
}
.address-container{
  padding: 5px;
}

.map-container{
  margin: auto;
  box-shadow: 0 1px 1px #4a4a4f;
}
.buttons-container{
  margin: auto;
}

.btn{
height: 40px;
}
/*Media Queries*/



@media (max-width: 320px){

.buttons-container{
  align-content: center;
  margin: auto;
  flex-direction: column;
}
}
@media (max-width: 479px){
  .brand-text {
    font-family: "Open Sans", Roboto, sans-serif;
    background-color: var(--current-div-gradient);
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--current-text);
  }

  .story-full-row-container {
    flex-direction: column;
    width: 100%;
  }
  .full-row-container {
    flex-direction: column-reverse;
    width: 100%;
  }
  .story-image-container {
    width: 100%;
  }
  .story-image {
    width: 100%;
  }
  .large-story-image {
    width: 100%;
    height: auto;
    border-radius: 10%;
    margin: 5px;
    box-shadow: 0 2px 2px #4a4a4f;
  }
  .large-doggo-image {
    width: 100%;
  }

  .doggo-image {
    width: 100%;
  }
  .footer-text {
    font-size: small;
  }
  .profile-image-container {
    width: 100%;
    margin: auto;
  }

}

@media (min-width: 480px) {

  .home-container {
    width: 96%;
    height: 100vh;
    padding: 10px;
    display: flex;
    flex-direction: row;
    margin: auto;
  }
  .full-row-container {
    flex-direction: column-reverse;
    width: 80%;
  }
  .story-full-row-container {
    flex-direction: column;
    width: 80%;
  }
  .story-container {
    width: 70%;
    height: 120px;
    padding: 10px;
  }

  .doggo-container {
    width: 30%;
    height: 120px;
    padding: 10px;
  }
  .dog-text-container {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}

