{% extends 'base.html' %}
{% load static %}
{% url 'home' as home_url %}
{% block content %}
<!--Start contact.html Content-->
<div class="full-row-container">
<div class="title-container">
    <h1>Contact Us</h1>
<div class="address-container">
    <p>Address:</p>
    <p>1, Some Road</p>
    <p>Halesowen</p>
    <p>West Midlands</p>
    <p>B623FE</p>
<div class="phone-container">
    <p>Phone Number:</p>
    <p>01234567890:</p>
<div class="email-container">
    <p><a href="mailto:someone@example.com">Send email</a></p>
</div>

</div>

</div>    
</div>    
</div>
<!--End contact.html Content-->
{% endblock %}