{% extends "base.html" %}
{% load static %}

{% block content %} 
<!-- doggo_list.html content starts here -->
{% if user.is_staff %}
    <div class="add-doggo-link cols-12 py-1  mx-2 my-1 flex-row justify-content-end">
        <a href="{% url 'doggo_add' %}"><i class="fa-regular fa-plus"></i> Add New Dog Profile</a></div>
{% endif %}
<h4 class="sub-title text-center">Our Dogs</h4>
<div class="list-container">
{% for doggo in doggo_list %}
<div class="row">
    <div class="col-12 mt-3">
    <a href="{% url 'doggo_detail' pk=doggo.pk %}">
        <div class="profile-image-container">
            
        {% if "placeholder" in doggo.profile_image.url %}
        <img src="{% static 'images/default_doggo2.png' %}" class="doggo-image" alt="{{ doggo.name. }}">
        {% else %}
        <img src="{{ doggo.profile_image.url }}" class="doggo-image" alt="{{ doggo.name }}" href="{% url 'doggo_detail' pk=doggo.pk %}">
        {% endif %}
        </div>
    </div>

<h2 class="name-text">{{ doggo.name }}</h2>
<p> Breed: {{ doggo.breed}}</p>
<p> Age: {{ doggo.age }}</p>
</a>
<hr>
<div class="doggo-main">
    <p> About: {{ doggo.notes}}</p>
</div>
<p> Added on: {{ doggo.added_on}}</p>
</div>
{% endfor %}
</div>
<!-- doggo_list.html content ends here -->
{% endblock %}
