{% extends "base.html" %}
{% block content %}

<!-- home.html content starts here -->
<div class="container">
    {% for story in story_list %}
    <div class="row">
    <div>
        <a href="#" class="story-link">
        <h2>{{ story.title }}</h2>
        </a>
        <hr>
        <p>{{ story.excerpt }}</p>
        <p>{{ story.created_on}} by {{ story.author }}</p>
        <p>Pinned Post</p>
    </div>
    </div>    
      
      {% endfor %}

    {% for doggo in doggo_list %}
    <div class="row">
        <p>Author: {{ doggo.added_by }}</p>
    
    <div>
        <a href="#" class="doggo-link">
        <div class="profile-image-container"><img class="profile-image" src="{{ doggo.profile_image.url }}"></div></div>

        <h2>{{ doggo.name }}</h2>
        <p>{{ doggo.breed}}</p>
        <p>{{ doggo.age }}</p>
        </a>
        <hr>
        <p>{{ doggo.added_on}}</p>
    </div>
    </div>    
      
      {% endfor %}
</div>
 
 


<!-- index.html content ends here -->
{% endblock %}
