{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% url 'story_add' as add_url %}
{% url 'edit' as edit_url %}
{% url 'delete' as delete_url %}
{% block content %} 
<!-- story_detail.html content starts here -->
<div class="container">
    {% if user.is_staff %}
        <div class="staff-links">
            <ul><li><a class="nav-link" href="{% url 'story_add' %}"><i class="fa-regular fa-plus"></i> New</a></li>
                <li><a class="nav-link" href="{% url 'edit'%}"><i class="fa-regular fa-edit"></i> Edit</a></li>
                <li><a class="nav-link" href="{% url 'delete'%}"><i class="fa-regular fa-trash-can"></i> Delete</a></li>
            </ul>
        </div>
        {% endif %}
    <div class="story-top">
        <div class="story-image-container">
            
            {% if "placeholder" in story.featured_image.url %}
            <img src="{% static 'images/default_doggo.png' %}" class="story-image" alt="{{ story.title }}">
            {% else %}
            <img src="{{ story.featured_image.url }}" class="story-image" alt="{{ story.title }}">
            {% endif %}
        </div>
        <div class="title-text"><h1 class="text-uppercase title-text">{{ story.title }}</h1>
        <p>{{ story.created_on}} by {{ story.author }}</p>
        </div>
    </div>
    <br>
   <div class="story-main"> <p>{{ story.content | safe }}</p>
    
    </div>
</div> 
 


<!-- index.html content ends here -->
{% endblock %}
